# Classification Exercise

We'll be working with some California Census Data, we'll be trying to use various features of an individual to predict what class of income they belogn in (>50k or <=50k). 

Here is some information about the data:

<table>
<thead>
<tr>
<th>Column Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>age</td>
<td>Continuous</td>
<td>The age of the individual</td>
</tr>
<tr>
<td>workclass</td>
<td>Categorical</td>
<td>The type of employer the  individual has (government,  military, private, etc.).</td>
</tr>
<tr>
<td>fnlwgt</td>
<td>Continuous</td>
<td>The number of people the census  takers believe that observation  represents (sample weight). This  variable will not be used.</td>
</tr>
<tr>
<td>education</td>
<td>Categorical</td>
<td>The highest level of education  achieved for that individual.</td>
</tr>
<tr>
<td>education_num</td>
<td>Continuous</td>
<td>The highest level of education in  numerical form.</td>
</tr>
<tr>
<td>marital_status</td>
<td>Categorical</td>
<td>Marital status of the individual.</td>
</tr>
<tr>
<td>occupation</td>
<td>Categorical</td>
<td>The occupation of the individual.</td>
</tr>
<tr>
<td>relationship</td>
<td>Categorical</td>
<td>Wife, Own-child, Husband,  Not-in-family, Other-relative,  Unmarried.</td>
</tr>
<tr>
<td>race</td>
<td>Categorical</td>
<td>White, Asian-Pac-Islander,  Amer-Indian-Eskimo, Other, Black.</td>
</tr>
<tr>
<td>gender</td>
<td>Categorical</td>
<td>Female, Male.</td>
</tr>
<tr>
<td>capital_gain</td>
<td>Continuous</td>
<td>Capital gains recorded.</td>
</tr>
<tr>
<td>capital_loss</td>
<td>Continuous</td>
<td>Capital Losses recorded.</td>
</tr>
<tr>
<td>hours_per_week</td>
<td>Continuous</td>
<td>Hours worked per week.</td>
</tr>
<tr>
<td>native_country</td>
<td>Categorical</td>
<td>Country of origin of the  individual.</td>
</tr>
<tr>
<td>income</td>
<td>Categorical</td>
<td>"&gt;50K" or "&lt;=50K", meaning  whether the person makes more  than \$50,000 annually.</td>
</tr>
</tbody>
</table>

## Follow the Directions in Bold. If you get stuck, check out the solutions lecture.

### THE DATA

** Read in the census_data.csv data with pandas**

In [1]:
import pandas as pd

In [2]:
census = pd.read_csv("census_data.csv")

In [3]:
census.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

** TensorFlow won't be able to understand strings as labels, you'll need to use pandas .apply() method to apply a custom function that converts them to 0s and 1s. This might be hard if you aren't very familiar with pandas, so feel free to take a peek at the solutions for this part.**

** Convert the Label column to 0s and 1s instead of strings.**

In [4]:
census['income_bracket'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [5]:
def label_fix(label):
    if label==' <=50K':
        return 0
    else:
        return 1

In [6]:
census['income_bracket'] = census['income_bracket'].apply(label_fix)

In [7]:
census.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

### Perform a Train Test Split on the Data

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_data = census.drop('income_bracket',axis=1)
y_labels = census['income_bracket']
X_train, X_test, y_train, y_test = train_test_split(x_data,y_labels,test_size=0.3,random_state=101)

### Create the Feature Columns for tf.esitmator

** Take note of categorical vs continuous values! **

In [10]:
census.columns

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income_bracket'],
      dtype='object')

** Import Tensorflow **

In [11]:
import tensorflow as tf

** Create the tf.feature_columns for the categorical values. Use vocabulary lists or just use hash buckets. **

In [12]:
gender = tf.feature_column.categorical_column_with_vocabulary_list("gender", ["Female", "Male"])
occupation = tf.feature_column.categorical_column_with_hash_bucket("occupation", hash_bucket_size=1000)
marital_status = tf.feature_column.categorical_column_with_hash_bucket("marital_status", hash_bucket_size=1000)
relationship = tf.feature_column.categorical_column_with_hash_bucket("relationship", hash_bucket_size=1000)
education = tf.feature_column.categorical_column_with_hash_bucket("education", hash_bucket_size=1000)
workclass = tf.feature_column.categorical_column_with_hash_bucket("workclass", hash_bucket_size=1000)
native_country = tf.feature_column.categorical_column_with_hash_bucket("native_country", hash_bucket_size=1000)

** Create the continuous feature_columns for the continuous values using numeric_column **

In [13]:
age = tf.feature_column.numeric_column("age")
education_num = tf.feature_column.numeric_column("education_num")
capital_gain = tf.feature_column.numeric_column("capital_gain")
capital_loss = tf.feature_column.numeric_column("capital_loss")
hours_per_week = tf.feature_column.numeric_column("hours_per_week")

** Put all these variables into a single list with the variable name feat_cols **

In [14]:
feat_cols = [gender,occupation,marital_status,relationship,education,workclass,native_country,
            age,education_num,capital_gain,capital_loss,hours_per_week]

### Create Input Function

** Batch_size is up to you. But do make sure to shuffle!**

In [15]:
input_func=tf.estimator.inputs.pandas_input_fn(x=X_train,y=y_train,batch_size=100,num_epochs=None,shuffle=True)

#### Create your model with tf.estimator

**Create a LinearClassifier.(If you want to use a DNNClassifier, keep in mind you'll need to create embedded columns out of the cateogrical feature that use strings, check out the previous lecture on this for more info.)**

In [16]:
model = tf.estimator.LinearClassifier(feature_columns=feat_cols)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\dilet\AppData\Local\Temp\tmp86a98cey
INFO:tensorflow:Using config: {'_model_dir': 'C:\\Users\\dilet\\AppData\\Local\\Temp\\tmp86a98cey', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_experimental_max_worker_delay_secs': None, '_session_creation_timeout_secs': 7200, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x0000019B18B37388>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

** Train your model on the data, for at least 5000 steps. **

In [17]:
model.train(input_fn=input_func,steps=5000)

WARNING:tensorflow:From c:\users\dilet\appdata\local\programs\python\python37\lib\site-packages\tensorflow_core\python\training\training_util.py:236: Variable.initialized_value (from tensorflow.python.ops.variables) is deprecated and will be removed in a future version.
Instructions for updating:
Use Variable.read_value. Variables in 2.X are initialized automatically both in eager and graph (inside tf.defun) contexts.
WARNING:tensorflow:From c:\users\dilet\appdata\local\programs\python\python37\lib\site-packages\tensorflow_estimator\python\estimator\inputs\queues\feeding_queue_runner.py:62: QueueRunner.__init__ (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
WARNING:tensorflow:From c:\users\dilet\appdata\local\programs\python\python37\lib\site-packages\tensorflow_estimator\python\estimator\inputs\queues\feeding_functions.py:500: add_queue_runner (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:From c:\users\dilet\appdata\local\programs\python\python37\lib\site-packages\tensorflow_core\python\feature_column\feature_column_v2.py:305: Layer.add_variable (from tensorflow.python.keras.engine.base_layer) is deprecated and will be removed in a future version.
Instructions for updating:
Please use `layer.add_weight` method instead.
WARNING:tensorflow:From c:\users\dilet\appdata\local\programs\python\python37\lib\site-packages\tensorflow_core\python\ops\resource_variable_ops.py:1630: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.
WARNING:tensorflow:From c:\users\dilet\appdata\local\programs\python\python37\lib\site-packages\tensorflow_core\python\ops\embedding_ops.py:802: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From c:\users\dilet\appdata\local\programs\python\python37\lib\site-packages\tensorflow_estimator\python\estimator\canned\linear.py:308: to_float (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use `tf.cast` instead.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
WARNING:tensorflow:From c:\users\dilet\appdata\local\programs\python\python37\lib\site-packages\tensorflow_core\python\training\monitored_session.py:882: start_queue_runners (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
INFO:tensorflow:Saving checkpoints for 0 into C:\Users\dilet\AppData\Local\Temp\tmp86a98cey\model.ckpt.
INFO:tensorflow:loss = 69.31472, step = 1
INFO:tensorflow:global_step/sec: 100.688
INFO:tensorflow:loss = 352.83044, step = 101 (0.993 sec)
INFO:tensorflow:global_step/sec: 155.887
INFO:tensorflow:loss = 194.57257, step = 201 (0.661 sec)
INFO:tensorflow:global_step/sec: 155.95
INFO:tensorflow:loss = 231.03935, step = 301 (0.622 sec)
INFO:tensorflow:global_step/sec: 147.662
INFO:tensorflow:loss = 364.14566, step = 401 (0.677 sec)
INFO:tensorflow:global_step/sec: 158.967
INFO:tensorflow:loss = 216.16269, step = 501 (0.629 sec)
INFO:tensorflow:global_step/sec: 154.02
INFO:tensorflow:loss = 223.38173, step = 601 (0.669 sec)
INFO:tensorflow:global_step/sec: 156.266
INFO:tensorflow:loss = 117.98225, step = 701 (0.620 sec)
INFO:tensorflow:global_step/sec: 159.655
INFO:tensorflow:loss = 165.87566, step = 801 (0.626 sec)
INFO:tensorflow:global_step/sec: 160.981
INFO:tensorflow:loss = 165.99559, step = 901 (0.638 sec)
INFO:tensorflow:global_step/sec: 156.813
INFO:tensorflow:loss = 186.5856, step = 1001 (0.629 sec)
INFO:tensorflow:global_step/sec: 152.242
INFO:tensorflow:loss = 44.58639, step = 1101 (0.648 sec)
INFO:tensorflow:global_step/sec: 153.632
INFO:tensorflow:loss = 64.69358, step = 1201 (0.659 sec)
INFO:tensorflow:global_step/sec: 157.717
INFO:tensorflow:loss = 52.322086, step = 1301 (0.639 sec)
INFO:tensorflow:global_step/sec: 156.561
INFO:tensorflow:loss = 43.195206, step = 1401 (0.632 sec)
INFO:tensorflow:global_step/sec: 154.126
INFO:tensorflow:loss = 436.3131, step = 1501 (0.645 sec)
INFO:tensorflow:global_step/sec: 159.47
INFO:tensorflow:loss = 42.70485, step = 1601 (0.640 sec)
INFO:tensorflow:global_step/sec: 158.518
INFO:tensorflow:loss = 72.49426, step = 1701 (0.630 sec)
INFO:tensorflow:global_step/sec: 160.02
INFO:tensorflow:loss = 28.901577, step = 1801 (0.619 sec)
INFO:tensorflow:global_step/sec: 151.202
INFO:tensorflow:loss = 1157.7645, step = 1901 (0.658 sec)
INFO:tensorflow:global_step/sec: 146.937
INFO:tensorflow:loss = 62.84874, step = 2001 (0.674 sec)
INFO:tensorflow:global_step/sec: 148.953
INFO:tensorflow:loss = 42.068428, step = 2101 (0.684 sec)
INFO:tensorflow:global_step/sec: 158.502
INFO:tensorflow:loss = 129.26367, step = 2201 (0.634 sec)
INFO:tensorflow:global_step/sec: 158.743
INFO:tensorflow:loss = 107.080765, step = 2301 (0.630 sec)
INFO:tensorflow:global_step/sec: 156.913
INFO:tensorflow:loss = 110.28387, step = 2401 (0.621 sec)
INFO:tensorflow:global_step/sec: 163.81
INFO:tensorflow:loss = 41.859993, step = 2501 (0.610 sec)
INFO:tensorflow:global_step/sec: 157.163
INFO:tensorflow:loss = 84.42821, step = 2601 (0.636 sec)
INFO:tensorflow:global_step/sec: 160.701
INFO:tensorflow:loss = 178.08018, step = 2701 (0.622 sec)
INFO:tensorflow:global_step/sec: 162.215
INFO:tensorflow:loss = 73.73961, step = 2801 (0.616 sec)
INFO:tensorflow:global_step/sec: 155.109
INFO:tensorflow:loss = 218.68724, step = 2901 (0.662 sec)
INFO:tensorflow:global_step/sec: 153.003
INFO:tensorflow:loss = 32.07639, step = 3001 (0.647 sec)
INFO:tensorflow:global_step/sec: 157.255
INFO:tensorflow:loss = 116.98655, step = 3101 (0.634 sec)
INFO:tensorflow:global_step/sec: 160.813
INFO:tensorflow:loss = 134.47409, step = 3201 (0.613 sec)
INFO:tensorflow:global_step/sec: 157.136
INFO:tensorflow:loss = 108.01742, step = 3301 (0.641 sec)
INFO:tensorflow:global_step/sec: 150.306
INFO:tensorflow:loss = 47.10086, step = 3401 (0.662 sec)
INFO:tensorflow:global_step/sec: 154.118
INFO:tensorflow:loss = 75.66905, step = 3501 (0.653 sec)
INFO:tensorflow:global_step/sec: 157.716
INFO:tensorflow:loss = 38.84278, step = 3601 (0.629 sec)
INFO:tensorflow:global_step/sec: 150.267
INFO:tensorflow:loss = 81.89476, step = 3701 (0.666 sec)
INFO:tensorflow:global_step/sec: 157.626
INFO:tensorflow:loss = 75.175804, step = 3801 (0.652 sec)
INFO:tensorflow:global_step/sec: 154.087
INFO:tensorflow:loss = 174.25427, step = 3901 (0.630 sec)
INFO:tensorflow:global_step/sec: 156.843
INFO:tensorflow:loss = 38.11708, step = 4001 (0.650 sec)
INFO:tensorflow:global_step/sec: 155.135
INFO:tensorflow:loss = 38.87495, step = 4101 (0.635 sec)
INFO:tensorflow:global_step/sec: 160.569
INFO:tensorflow:loss = 120.28675, step = 4201 (0.619 sec)
INFO:tensorflow:global_step/sec: 150.631
INFO:tensorflow:loss = 248.36449, step = 4301 (0.664 sec)
INFO:tensorflow:global_step/sec: 154.592
INFO:tensorflow:loss = 69.79697, step = 4401 (0.649 sec)
INFO:tensorflow:global_step/sec: 154.193
INFO:tensorflow:loss = 49.788574, step = 4501 (0.650 sec)
INFO:tensorflow:global_step/sec: 153.247
INFO:tensorflow:loss = 37.5571, step = 4601 (0.649 sec)
INFO:tensorflow:global_step/sec: 153.354
INFO:tensorflow:loss = 38.57162, step = 4701 (0.664 sec)
INFO:tensorflow:global_step/sec: 156.463
INFO:tensorflow:loss = 65.48675, step = 4801 (0.629 sec)
INFO:tensorflow:global_step/sec: 152.035
INFO:tensorflow:loss = 46.656815, step = 4901 (0.663 sec)
INFO:tensorflow:Saving checkpoints for 5000 into C:\Users\dilet\AppData\Local\Temp\tmp86a98cey\model.ckpt.
INFO:tensorflow:Loss for final step: 29.717016.

### Evaluation

** Create a prediction input function. Remember to only supprt X_test data and keep shuffle=False. **

In [18]:
pred_fn = tf.estimator.inputs.pandas_input_fn(x=X_test,batch_size=len(X_test),shuffle=False)

** Use model.predict() and pass in your input function. This will produce a generator of predictions, which you can then transform into a list, with list() **

In [19]:
predictions = list(model.predict(input_fn=pred_fn))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from C:\Users\dilet\AppData\Local\Temp\tmp86a98cey\model.ckpt-5000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

** Each item in your list will look like this: **

{'class_ids': array([0], dtype=int64),
 'classes': array([b'0'], dtype=object),
 'logistic': array([ 0.21327116], dtype=float32),
 'logits': array([-1.30531931], dtype=float32),
 'probabilities': array([ 0.78672886,  0.21327116], dtype=float32)}

** Create a list of only the class_ids key values from the prediction list of dictionaries, these are the predictions you will use to compare against the real y_test values. **

In [20]:
predictions[0]

{'logits': array([-0.9591819], dtype=float32),
 'logistic': array([0.27704203], dtype=float32),
 'probabilities': array([0.72295797, 0.277042  ], dtype=float32),
 'class_ids': array([0], dtype=int64),
 'classes': array([b'0'], dtype=object),
 'all_class_ids': array([0, 1]),
 'all_classes': array([b'0', b'1'], dtype=object)}

** Import classification_report from sklearn.metrics and then see if you can figure out how to use it to easily get a full report of your model's performance on the test data. **

In [21]:
final_preds = []
for pred in predictions:
    final_preds.append(pred['class_ids'][0])

In [22]:
final_preds[:10]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [23]:
from sklearn.metrics import classification_report

In [24]:
print(classification_report(y_test,final_preds))

              precision    recall  f1-score   support

           0       0.84      0.93      0.88      7436
           1       0.64      0.42      0.51      2333

    accuracy                           0.81      9769
   macro avg       0.74      0.67      0.69      9769
weighted avg       0.79      0.81      0.79      9769

# Great Job!