# Linear Regression

Conversion from km to miles by a single neuron without bias

In [1]:
### Data points
X = [
    [10],
    [15],
    [60]
]

Y = [
    6.2,
    9.3,
    37.3
]

In [2]:
from sklearn.linear_model import LinearRegression

In [3]:
model = LinearRegression(fit_intercept=False) #without bias
model.fit(X,Y) # model learns correlations between X and Y

LinearRegression(copy_X=True, fit_intercept=False, n_jobs=None, normalize=False)

In [4]:
model.coef_ # Weight

array([0.62152866])

In [7]:
print(60*model.coef_) # model prediction

[37.29171975]

In [8]:
print(120*model.coef_) # model prediction

[74.58343949]

In [9]:
model.predict([
    [17],
    [140],
    [70]
])

array([10.56598726, 87.01401274, 43.50700637])

# Linear Regression

Conversion Celsius -> Fahrenheit with bias --> **Bias** 

Formula: X1 * 1.8 + 32

In [10]:
### Data points
X = [
    [-10],
    [0],
    [20]
]

Y = [
    14,
    32,
    68
]

In [15]:
model = LinearRegression(fit_intercept=True) #with bias
model.fit(X,Y) # model learns correlations between X and Y

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [14]:
model.coef_ # Weight

array([1.8])

In [16]:
model.intercept_

32.0

# Linear Regression: Auto Fuel Consumption

- Consumption Prediction (l/100km)
- Auto:
    - 8 cylinders
    - 200 PS
    - 2500 kg

In [18]:
import pandas as pd

In [19]:
def mpg_to_l_per_100km(mpg):
    LITERS_PER_GALLON = 3.785411784
    KM_PER_MILES = 1.609344
    return (100*LITERS_PER_GALLON) / (KM_PER_MILES*mpg)

In [20]:
print(mpg_to_l_per_100km(100))

2.352145833333333

In [21]:
df = pd.read_csv("mpg-dataset.csv")

In [22]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [23]:
X = df[["cylinders", "horsepower", "weight"]]

In [25]:
X.head()

   cylinders  horsepower  weight
0          8         130    3504
1          8         165    3693
2          8         150    3436
3          8         150    3433
4          8         140    3449

In [26]:
y = df["mpg"]

In [27]:
y.head()

0    18.0
1    15.0
2    18.0
3    16.0
4    17.0
Name: mpg, dtype: float64

In [28]:
y = mpg_to_l_per_100km(y)

In [29]:
y.head()

0    13.067477
1    15.680972
2    13.067477
3    14.700911
4    13.836152
Name: mpg, dtype: float64

### Linear Regression Model

In [31]:
model_1 = LinearRegression(fit_intercept=True)

In [32]:
model_1.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [36]:
model_1.coef_, model_1.intercept_

(array([0.2757425 , 0.03284566, 0.00229432]), -0.5232093219825806)

In [38]:
model_1.predict([
    [8,200,2500]
])

array([13.98766161])